.dashed {
    stroke-dasharray: 10;
}

.path {
    stroke-dasharray: 300;
    stroke-dashoffset: 0;
    animation-name: dash;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

@keyframes dash {
    from {
        stroke-dashoffset: 300;
    }

    to {
        stroke-dashoffset: 0;
    }
}

.top-arrow-head {
    animation: arrow 0s 0.9s forwards;
    animation-iteration-count: infinite;
    visibility: hidden;
}

@keyframes arrow {
    from {
        visibility: hidden;
    }

    to {
        visibility: visible;
    }
}

/*second arrow svg*/
.dashed2 {
    stroke-dasharray: 10;
}

.path2 {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dashTwo 4s ease-in-out 0.8s infinite;
}

@keyframes dashTwo {
    from {
        stroke-dashoffset: 1000;
    }

    to {
        stroke-dashoffset: 0;
    }
}

.arrowhead2 {
    bottom: 0;
    left: 0;
    right: auto;
    visibility: hidden;
    display: block;
    animation: moveArrow 4s ease-in-out 0.8s infinite;

}

@keyframes moveArrow {
    0% {
        bottom: 0;
        left: 0;
        right: auto;
        visibility: hidden;
        display: none;
    }

    20% {
        bottom: 0;
        left: 0;
        right: auto;
        visibility: hidden;
        display: none;
    }

    55% {
        top: 0;
        left: auto;
        right: 48px;
        visibility: hidden;
        display: none;
    }

    100% {
        top: 0;
        left: auto;
        right: 48px;
        visibility: visible;
        display: block;
    }
}


/*mobile view of the second arrow*/
.arrowhead3 {
    bottom: 0;
    left: 0;
    right: auto;
    visibility: hidden;
    display: block;
    animation: moveArrow2 3.99s ease-in-out 0.51s infinite;

}

@keyframes moveArrow2 {
    0% {
        bottom: 0;
        left: 0;
        right: auto;
        visibility: hidden;
        display: none;
    }

    20% {
        bottom: 0;
        left: 0;
        right: auto;
        visibility: hidden;
        display: none;
    }

    55% {
        top: 0;
        left: auto;
        right: 12px;
        visibility: hidden;
        display: none;
    }

    100% {
        top: 0;
        left: auto;
        right: 12px;
        visibility: visible;
        display: block;
    }
}

/* third dotted line svg*/
.dashed3 {
    stroke-dasharray: 10;
}

.path3 {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    fill: none;
    animation: dashThree 8s ease-in-out 0.8s infinite;
}

@keyframes dashThree {
    0% {
        stroke-dashoffset: 1000;
        fill: none;
    }

    30% {
        fill: #FDC55E;
    }

    100% {
        stroke-dashoffset: 0;
        fill: #FDC55E;
    }
}


/*foodspin*/
.middleImage {
    animation-name: shrink;
    animation-duration: 0.5s;
}

@keyframes shrink {
    from {
        transform: scale(0.1);
    }

    to {
        transform: scale(1);
    }
}

/*
    animation: name duration timing-function delay iteration-count direction fill-mode;*/